/* Estilos atualizados para o chatbot */
.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
 /* Ajusta a largura máxima para ocupar 90% da largura disponível */
}

.chat-header {
  text-align: right;
}

.chat-icon {
  cursor: pointer;
  font-size: 50px;
  color: #55828b;
}

.chat-box {
  width: 400px;
  height: 520px;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-log {
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

#user-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #c2c2c2;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.hidden {
  display: none;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #e29578;
}

.chat-container button {
  width: 50%;
  height: 35px;
  background: var(--Azul-Escuro);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  position: relative;
  left: 22%;
  margin: 12px;
}


.user-icon,
.bot-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


@media screen and (max-width: 768px) {
  .chat-container {
    width: 90%; 
    max-width: none; 
    bottom: 2px; 
    right: 50%; 
    transform: translateX(50%); 
  }

  .chat-box {
    width: 100%;
    max-width: none; 
    height: 70vh; 
    max-height: 80vh;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .chat-log {
    height: 100%; 
    max-height: 80%; 
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  #user-input {
    width: calc(100% - 80px); 
    border-radius: 7px;
    margin-right: 10px;
  }

  .chat-container button {
    width: 25%; 
    height: 35px;
    position: relative;
    margin: 12px;
    left: auto;
  }
}